.filter-panel-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.tabs-line > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabs-line span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
}

.additional-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    position: relative;
}

.collapse {
    padding: 11px 6px;
    font-size: 14px;
    border: 1px solid RGBA(0, 0, 0, 0.16);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 170px;
    box-sizing: border-box;
}

.collapse svg {
    margin-left: 4px;
}

.collapse-tab {
    font-size: 14px;
    transition: height .4s ease-in-out;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 42px;
    z-index: 999;
    width: 170px;
    background-color: white;
    border-radius: 4px;
    height: 0;
    border: 0;
    box-sizing: border-box;
}

.opened-collapse {
    height: 80px;
    border: 1px solid RGBA(0, 0, 0, 0.16);
    border-top: 0;
    border-bottom: 0;
}

.collapse-tab span {
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 2px 0;
    border-bottom: 1px solid RGBA(0, 0, 0, 0.16);
}

.radio-container {
    margin-left: 22px;
    display: flex;
    align-items: center;
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    border-radius: 4px;
    border: 1px solid RGBA(0, 0, 0, 0.16);
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}

.tab {
    height: 32px;
    width: fit-content;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 4px;
    padding: 8px 14px;
    border: 1px solid RGBA(0, 0, 0, 0.12);
    color: black;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

@media ( max-width: 768px ) {
    .filter-panel-container {
        display: flex;
        flex-direction: column;
    }
    .additional-filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
    }
    .radio-container {
        margin-left: 0;
        margin-top: 12px;
    }
}