.container {
    max-width: 949px;
    width: 949px;
    padding: 70px 90px 59px 70px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

@media ( max-width: 768px ) {
    .container {
        max-width: 98vw;
        border: 1px solid black;
        overflow: hidden;
    }
}